<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Log_Analyzer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Log_Analyzer.My.MySettings>
            <setting name="Chart_Scale_MaxZoom" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Chart_Scale_ZoomSteps" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Chart_Scale_Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Chart_Scale_AxisX_Grids" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Chart_GridColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="Chart_MaxChartAreas" serializeAs="String">
                <value>6</value>
            </setting>
        </Log_Analyzer.My.MySettings>
    </userSettings>
</configuration>
